{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="profile-overview">
    <div class="profile-img">
        <img src="{% static 'mysite/img/Gokulakannan.jpg' %}" alt="myimage" style="margin-top: 50px;
        border-radius: 60px;
        height: 200px;
        width: 150px;
        border-style: solid;
        border-color: orange;
    }"><br>
        <div class="profile-name">
            <h2>Hi! I am Gokulakannan</h2>
        </div>
        <div class="profile-job">
            <h1>Python Programmer and Tutor</h1>
        </div>
    </div>
</div>
{% endblock  %}