{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="nav-title">
  <h2 align="center">Projects</h2>
  <hr>
</div>
<div class="container-fluid">

<div class="container">
    <div class="container">
        <div class="row">
            {% for project in projects %}
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="{{ project.project_img.url }}" alt="Card image cap"
                        style="width: 200px; height:200px;">
                    <div class="card-block">
                        <h4 class="card-title">{{ project.project_name }}</h4>
                        <p class="card-text">{{ project.project_description }}</p>
                        <a href="{{ project.project_link }}" class="btn btn-primary">View Project</a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock  %}