{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="nav-title">
    <h2 align="center">Services</h2>
    <hr>
</div>
<div class="container">
    <div class="container">
        <div class="row">
            {% for service in services %}
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="{{ service.service_img.url }}" alt="Card image cap"
                        style="width: 200px; height:200px;">
                    <div class="card-block">
                        <h4 class="card-title">{{ service.service_name }}</h4>
                        <p class="card-text">{{ service.service_description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}