.profile-overview{
    background: lightgoldenrodyellow;
    padding: 10px;
    height: 100vh;
    text-align: center;
}

.profile-name{
    margin-top: 30px;
    color: red;
    font-family: auto;
    padding: 8px;

}

.profile-job{
    margin-top: 30px;
    color: red;
    font-family: auto;
    padding: 8px;

}

.form-container{
    -webkit-text-stroke-width: medium;
    margin-top: 30px;
    padding: 20px;
    background: aqua;
    border-style: double;
    border-color: red;
}

.contact-address{
    font-size: larger;
    font-style: inherit;
    font-family: ui-monospace;
    color: crimson;
}

footer{
    
    position: fixed;
    bottom: 0px;
    background: lightslategrey;
    width: -webkit-fill-available;
    font-style: revert;
    font-family: emoji;
}

#sender-name, #sender-email{
    border: chartreuse;
    border-style: solid;
}

#sender-message{
    border: chartreuse;
    border-style: solid;
    height: 100px;
}

.nav-title{
    padding: 8px;
    font-family: auto;
    margin-top: 5px;
    color: red;
}

